*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    width: 100%;
    background: #1f2937;
    padding: 1.5em;
    font-family: 'Inter', sans-serif;
}

#container{
    margin: 0 auto;
    max-width: 700px;
}

span {
    color: #4adf86;
}

.title{
    font-family: 'Karla', sans-serif;
    font-size: 2.5rem;
    color: white;
    letter-spacing: -0.025em;
}

.subtitle{
    font-family: 'Inter', sans-serif;
    font-size: 1.25rem;
    color: #d5d4d8;
}

button {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    color: white;
    background: #10B981;
    border: none;
    border-radius: 6px;
    padding: 1em 2em;
}

hr{
    border: 1px solid #2F3E53;
    margin: 2em auto;
    width: 95%;
}

#passwordone-el,
#passwordtwo-el {
    font-size: 1.25rem;
    color: #55f991;
    background: #273549;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border-radius: 6px;
}


#copied-message{
    color: #55f991;
    text-align: center;
    display: none;
}

@media screen and (min-width: 600px) {
    body{
        padding: 2em;
    }
    
    .passwords{
        display: flex;
        justify-content: space-around;
        gap: 1em;
    }

    .title{
        font-size: 3rem;
    }

    .subtitle{
        font-size: 1.75rem;
        margin-top: 2em;
        margin-bottom: 2em;
    }

    button{
        font-size:1.25rem;
    }

    #passwordone-el,
    #passwordtwo-el{
        font-size: 1.35rem;
        width: 50%;
    }
}

/* FOOTER */
footer {
    font-size: 1rem;
    color: #55f991;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer a {
    color: #55f991;
}